<main role="main" class="container">
    <h1 class="mt-5">Tambahkan Data :</h1>
    <div>
        <form action="/input" method="post">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="tanggal" placeholder="Tanggal Lahir">
            <input type="text" name="kelamin" placeholder="Gender">
            <input type="text" name="alamat" placeholder="Alamat">
            <input type="text" name="kontak" placeholder="Kontak">
            <input type="submit" name="submit">
        </form>
    </div>
</main>