<main role="main" class="container">
    <h1 class="mt-5">Input Data</h1>
    <div>
        <form action="/inputdatatransaksi" method="post">
            <input type="number" name="id_transaksi" placeholder="Id Transaksi">
            <input type="text" name="nama_produk" placeholder="Nama Produk">
            <input type="number" name="quantity" placeholder="Quantity">
            <input type="datetime" name="tanggal_transaksi" placeholder="Tanggal Transaksi">
            <input type="number" name="harga_total" placeholder="Harga Total">
            <input type="text" name="karyawan" placeholder="Karyawan">
            <input type="submit" name="submit">
        </form>
    </div>
</main>