<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Express App</title>
    <link rel="stylesheet" href="./css/bootstrap.css" type="text/css" />
  </head>
  <body data-new-gr-c-s-check-loaded="14.1018.0" data-gr-ext-installed="">
    <%- include('parsials/navigation') %> <%- body %>
    <script src="./js/bootstrap.js" type="text/js"></script>
  </body>
</html>
