<main role="main" class="container mt-5">
  <div class="card">
    <h5 class="card-header">Tambah Data Produk</h5>
    <div class="card-body">
      <div>
        <form action="/tambah_produk" method="post">
          <div class="row mb-3">
            <div class="col-md-3">
              <label for="">ID Produk :</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" name="id_produk" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3">
              <label for="">Nama Produk :</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" name="nama_produk" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3">
              <label for="">Stok :</label>
            </div>

            <div class="col-md-8">
              <input type="text" class="form-control" name="stok" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3">
              <label for="">Harga Satuan:</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" name="harga_satuan" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3">
              <input type="submit" name="submit" class="btn btn-primary" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
